:root {
  box-sizing: border-box;
}

@font-face {
  font-family: "Disney";
  src: url("fonts/waltograph42.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(11, 20, 34);
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Disney";
  font-weight: normal;
  font-size: 56px;
}

p {
  text-align: center;
}

button {
  background-color: rgb(15, 85, 13);
  color: whitesmoke;
  border: 2px solid rgb(0, 134, 6);
  margin: 15px 2px 10px 2px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  height: 40px;
  width: 170px;
  box-shadow: 0px 2px 4px rgb(73 73 73);
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgba(15, 85, 13, 0.472);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 5px rgb(41, 41, 41);
}

#typedText {
  background-color: rgb(24, 42, 70);
  color: whitesmoke;
  font-size: 17px;
  padding: 5px 4px 2px 4px;
  border: 1px solid whitesmoke;
  text-align: center;
  outline: none;
}

#typedText::placeholder {
  color: rgba(245, 245, 245, 0.45);
}

textarea {
  background-color: rgb(207, 207, 207);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#photoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(175, 133, 26);
  height: fit-content;
  min-height: 450px;
  min-width: 450px;
  padding: 10px 10px;
}

img {
  height: fit-content;
  width: fit-content;
}
